<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <title>Opensensors.io</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

<!--
    <link href="css/style.css" rel="stylesheet">
-->

<!--
    <script src="./page_files/jquery.min.js"></script>
    <script src="./page_files/jquery.transform2d.js"></script>
    <script src="./page_files/jquery.scrollTo.min.js"></script>
-->

    <link rel="shortcut icon" href="img/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="img/apple-touch-icon-57-precomposed.png">

     <link rel="stylesheet" href="css/style.css" type="text/css" media="screen" />
     <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" media="screen" />
  </head>
  <style>
    figure {
    margin: 20px;
    }
    figcaption {
    margin: 20px;
    }
    table {
    border: 1px solid black;
    border-collapse: collapse }
    td { border: 1px solid black; }
    td:nth-child(1) { width: 100px }
    td:nth-child(2) { width: 400px }

  </style>
  <body>
    <div id="content" class="container">

      <h1>MQTT Console</h1>
<!--
      <h1>MQTT Console</h1>

      <figure>
        <table>
          <thead>
            <tr><th>Radio station</th><th>What's on now</th></tr>
          </thead>
          <tbody  id="stations">
          </tbody>
        </table>
        <figcaption><p>What's on the radio? Live MQTT messages are updating this table to let you know.</p></figcaption>
      </figure>

      <h2>Message Log</h2>

      <figure>
        <table>
          <thead>
            <tr><th>Topic</th><th>Message</th></tr>
          </thead>
          <tbody  id="messages">
          </tbody>
        </table>
        <figcaption><p>All the messages</p></figcaption>
      </figure>

      <p>Messages so far: <span id="message-count">0</span></p>
-->

    </div>

    <!-- ClojureScript imports -->
    <script src="js/goog/base.js" type="text/javascript"></script>
    <script src="js/main.js" type="text/javascript"></script>
    <script type="text/javascript">goog.require("{{main}}");</script>

  </body>
</html>
